extends layout

block content
  .row
    .container
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, pariatur ea! Magni natus, reprehenderit voluptas aut. Aliquid eos laboriosam repellat cupiditate vel nostrum eaque vitae quasi! Mollitia totam obcaecati, veniam reiciendis dignissimos vitae earum. Minus praesentium facere reiciendis consequatur incidunt ratione possimus, eius porro adipisci sapiente iusto quia sunt tempora voluptas aspernatur, mollitia modi fugit et. Itaque, nobis cumque officia tempora quod amet eaque omnis, maxime odit possimus distinctio voluptas sunt sequi molestiae accusantium quos qui obcaecati repellendus? Natus nostrum harum soluta repellat molestiae vero quos eaque rerum rem, alias ut, recusandae voluptatem, saepe ex unde iste error quam reprehenderit!
      .cal
        p.day.text-center 11
        p.month.text-center oct
  include testimonials