#platform {
  padding: 5rem 1rem;
}

#on {
  width: 6.25rem;
}

#platform .equal:nth-child(1) {
  text-align: left;
  border-left: 0.25rem solid rgb(255, 65, 0);
  border-left: 0;
  padding-right: 1.25rem;
}

#platform .equal:nth-child(2) {
  text-align: right;
  border-right: 0.25rem solid rgb(255, 65, 0);
  border-right: 0;
  padding-left: 1.25rem;
}