extends layout

block content
  include navbar
  include hero-video
  //include about
  include sectors
  //_include platform
  //-include cowork
  include events
  include promo
  include partners
  include contact
  //-include subscribe
  include footer