.row#cowork
  .text
    h2 Un espacio para crecer
    p Contamos con instalaciones apropiadas para llevar a cabo tus ideas en un ambiente de trabajo colaborativo y tranquilo.
    p Obtén este beneficio al inscribirte en cualquiera de nuestros programas de incubación y comienza a trabajar profesionalmente.
    p: button.ghost.dark Conócelo 