.row.center-center#events
  .container
    h1.text-center FuckUp Nights Pachuca Vol. IX
    .text.column.center-center
      h2 10 de febrero
      p Nos reuniremos para contar historias de fracaso con un buen aprendizaje. Porque la mayoría de los emprendedores no crea “la empresa del año” al primer intento. Porque queremos presentar una visión realista de lo que es ser emprendedor.
      br
      br
      p: a(href="https://www.facebook.com/FUNPachuca/?fref=ts").button.ghost.dark Quiero asistir
   //
    .row.events
      .equal
        .event-date.row
          .cal.column.center-center
            span.day 8
            span.month SEP
          .description.column.center
            p Startup Grind: Mejores mudanzas  
      .equal  
        .event-date.row
          .cal.column.center-center
            span.day 31
            span.month OCT
          .description.column.center
            p OpenData HGO 
    .row.events
      .equal
        .event-date.row
          .cal.column.center-center
            span.day 9
            span.month NOV
          .description.column.center
            p Startup Weekend Education  
      .equal  
        .event-date.row
          .cal.column.center-center
            span.day 15
            span.month NOV
          .description.column.center
            p FuckUp Night
    .row.events
      .equal
        .event-date.row
          .cal.column.center-center
            span.day 10
            span.month DIC
          .description.column.center
            p Startup Weekend Maker for good  
      .equal  
        .event-date.row
          .cal.column.center-center
            span.day 15
            span.month DIC
          .description.column.center
            p Startup Weekend EDO mex