footer.row.center-center
  .container.row
    .nav
      p: strong Startups
      ul
        li Sectores
        li Mentores
        li Programas
        li Aceleración
    .nav
      p: strong Eventos
      ul
        li Próximos eventos
        li Startup Grind
        li Startup Weekend
        li FuckUp Nights
    .nav
      p: strong Aplica
      ul
        li e-commerce
        li B2B
        li Educación
    #subscribe.column
      strong No te pierdas de nada
      br
      .row
        input(type="email" placeholder="Email")
        button Suscribir