#hero-video.column.center-center
  h1.hero-title Construimos empresas
  p.support Nuestro próximo evento.
  #next-event.event-date.row
    .cal.inverted.column.center-center
      span.day 10
      span.month FEB
    .description.inverted.column.center
      a(href="https://www.facebook.com/FUNPachuca/?fref=ts") FuckUp Nights Pachuca
  video.hidden-sm(autoplay poster="img/bg.png" loop)
    source(src="video/intro.mp4" type="video/mp4")
  .overlay