.row.center-center#about
  .container
    .row.center-center
      h2 Somos Startup HGO
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quasi, numquam culpa libero rerum corporis facere maiores qui, ducimus ratione tenetur! Illum, quasi distinctio exercitationem quibusdam, fuga expedita dolor qui rerum quo repudiandae delectus sapiente, suscipit totam laborum quae veritatis.
    .row#metrics
      .equal.text-center
        span.number 1000
        p Compañías atendidas
      .equal.text-center
        span.number 1000
        p Compañías atendidas
      .equal.text-center
        span.number 1000
        p Compañías atendidas