nav.row.center-center
  .container.row
    .row.center-center
      img#logo(src="img/startup_logo_bco.png", alt="")
    .equal
    .row.center-center.hidden-sm
      a(href="startups.html") Startups
    .row.center-center.hidden-sm
      a(href="eventos.html") Eventos
    .row.center-center.hidden-sm
      a#apply(href="startups.html") Aplica