.column.center-center#partners
  h1 Nuestros aliados
  .container
    .row#logos
      figure.logo
        img(src="img/logos/techs_logo.png")
      figure.logo
        img(src="img/logos/catapulta_logo.png")
      figure.logo
        img(src="img/logos/chispa_logo.png")
      figure.logo
        img(src="img/logos/citnova.png")
      figure.logo
        img(src="img/logos/edu.png")
      figure.logo
        img(src="img/logos/fuckup.png")
      //-figure.logo
        img(src="img/logos/fundatic_logo.png")
      figure.logo
        img(src="img/logos/p4s_logo.png")
      figure.logo
        img(src="img/logos/sw.png")