.column.center-center#platform
  .container.column.center-center
    figure
      img#on(src="img/on.png")
    h1 Nuestra plataforma
    .row.strenghts
      .equal.column
        h2 Infraestructura
        p Hemos apoyado a más de 1000 PyMEs y 500 emprendedores en el desarrollo de ideas y modelos de negocio innovadores, además contamos con una de red de mentores altamente experimentados y el primer espacio de colaboración tecnológica en el Estado de Hidalgo.
      .equal.column
        h2 Procesos
        p Nuestros programas estandarizados nos permiten construir y escalar nuevas empresas. Tenemos la capacidad de poner en marcha una nueva empresa en menos de 120 días. Estamos reconocidos como Incubadora de Alto Impacto por el INADEM.
    .row.strenghts
      .equal.column
        h2 Tecnología
        p Nuestra tecnología proporciona soluciones de fácil implementación para que las empresas creadas puedan centrarse en su mercado.
      .equal.column
        h2 Red de aliados
        p Somos aliados de grandes empresas y organizaciones destacadas a nivel internacional, lo que nos permite canalizar cada uno de los proyectos con verdaderos profesionales de cada sector.