.row#sectors
  .equal.sector
    .over
     h1.text-center e-commerce
     p Si tu startup se encuentra en el sector de comercio electrónico o buscas expandir tu negocio tradicional a más lugares en el mundo.
     button.ghost.light Quiero Aplicar
  .equal.sector
    .over
      h1.text-center B2B
      p Entra aquí si buscas brindar un servicio de empresa a empresa (Business to Business), ya sea software especializado, servicios en la nube, o servicios tradicionales.
      p.text-center: button.ghost.light Quiero Aplicar
  .equal.sector
    .over
      h1.text-center Educación
      p Aplica si cuentas con un proyecto que mejore la educación y sistema educativo del país, que pueda ser replicado en otras partes del mundo.
      p.text-center: button.ghost.light Quiero Aplicar
