.row
  .container.row.center-center
    .testimonial
      img(src="", alt="").avatar
      p: strong Nombre
      p.testimonial Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, ab.